services:
  namenode:
    image: apache/hadoop:3.4
    container_name: namenode
    hostname: namenode
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hadoop_namenode:/opt/hadoop/data/nameNode
      - ./hadoop_config:/opt/hadoop/etc/hadoop
      - ./start-hdfs.sh:/start-hdfs.sh
    ports:
      - "9870:9870"
      - "9000:9000"
    command: [ "/bin/bash", "/start-hdfs.sh" ]
    networks:
      - dfp-net
  
  datanode1:
    image: apache/hadoop:3.4
    container_name: datanode1
    hostname: datanode1
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hadoop_datanode1:/opt/hadoop/data/dataNode
      - ./hadoop_config:/opt/hadoop/etc/hadoop
      - ./init-datanode.sh:/init-datanode.sh
    depends_on:
      - namenode
    command: [ "/bin/bash", "/init-datanode.sh" ]
    networks:
      - dfp-net
  
  datanode2:
    image: apache/hadoop:3.4
    container_name: datanode2
    hostname: datanode2
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hadoop_datanode2:/opt/hadoop/data/dataNode
      - ./hadoop_config:/opt/hadoop/etc/hadoop
      - ./init-datanode.sh:/init-datanode.sh
    depends_on:
      - namenode
    command: [ "/bin/bash", "/init-datanode.sh" ]
    networks:
      - dfp-net

networks:
  dfp-net:
    external: true
