version: "3"

services:
  # Nifi
  nifi:
    image: apache/nifi:1.28.1
    container_name: nifi
    hostname: nifi
    ports:
      - "8083:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080
    #   - NIFI_JVM_HEAP_INIT=512m
    #   - NIFI_JVM_HEAP_MAX=1024m
    volumes:
      - ../hdfs/hadoop_config/core-site.xml:/opt/nifi/nifi-current/conf/core-site.xml
      - ../hdfs/hadoop_config/hdfs-site.xml:/opt/nifi/nifi-current/conf/hdfs-site.xml
      - ../datasource/cdv:/opt/nifi/nifi-current/data/csv
      - nifi_database_repository:/opt/nifi/nifi-current/database_repository
      - nifi_flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - nifi_content_repository:/opt/nifi/nifi-current/content_repository
      - nifi_provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - nifi_state:/opt/nifi/nifi-current/state
      - nifi_logs:/opt/nifi/nifi-current/logs
      - nifi_conf:/opt/nifi/nifi-current/conf
    networks:
      - dfp_net
volumes:
  nifi_database_repository:
  nifi_flowfile_repository:
  nifi_content_repository:
  nifi_provenance_repository:
  nifi_state:
  nifi_logs:
  nifi_conf:
networks:
  dfp_net:
    external: true
