services:
  spark-master:
    build: .
    container_name: spark-master
    hostname: spark-master
    environment:
      - TZ=Asia/Ho_Chi_Minh
    ports:
      - "8081:8080"
      - "7077:7077"
      - "4040:4040"
    volumes:
      - ./jobs:/opt/spark/work-dir/jobs
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
      --host spark-master
      --port 7077
      --webui-port 8080
    networks:
      - dfp_net
    
  spark-worker:
    build: . 
    container_name: spark-worker
    hostname: spark-worker
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    environment:
      - TZ=Asia/Ho_Chi_Minh
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
      --cores 2
      --memory 2G
      --port 8081
      --webui-port 8081
    networks:
      - dfp_net
networks:
  dfp_net:
    external: true