services: 
  postgres:
    image: postgres:15
    container_name: postgres-warehouse
    hostname: postgres-warehouse
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mydb
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - dfp_net
networks:
  dfp_net:
    external: true
